<form class="form-horizontal" id="form" [formGroup]="form" (ngSubmit)="onSubmitForm(form.value)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" [ngClass]="{'has-error':!form.controls['linkText'].valid  && form.controls['linkText'].touched}">
          <label class="col-md-3 control-label">متن پیوند</label>

        <div class="col-md-9">
          <input type="text" class="form-control" name="linkText" [formControl]="form.controls['linkText']">
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':!form.controls['url'].valid  && form.controls['url'].touched}">
        <label class="col-md-3 control-label">آدرس پیوند</label>

        <div class="col-md-9">
          <input type="text" class="form-control" name="url" [formControl]="form.controls['url']">
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':!form.controls['target'].valid  && form.controls['target'].touched}">
        <label class="col-md-3 control-label">نوع باز شدن پیوند</label>

        <div class="col-md-9">
          <select name="target" id="menu-target" class="form-control minimal" [formControl]="form.controls['target']">
            <option *ngFor="let target of targets" value="{{target.value}}">{{target.title}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" [ladda]="submitting" type="submit">ثبت</button>
        </div>
      </div>
    </div>
  </div>
</form>
