Content-Type: text/html; charset=utf-8
    <html>
        <head>
            <title>بازیابی رمز عبور</title>
        </head>
    <body>
        <h4>
            با عرض سلام @ViewBag.UserName,
        </h4>
        <p>لطفا برای بازیابی رمز حساب کاربری به لینک زیر مراجعه کنید.</p>
        <br />
        <a href="@ViewBag.code">
            لینک بازیابی رمز
        </a>
    </body>
</html>
