
    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">بازیابی رمز عبور</h2>

                    <p>
                        برای بازیابی رمز عبور ایمیل خود را وارد کنید
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t">
                                <div class="form-group">
                                    <input type="email" [(ngModel)]="emailAddress" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="آدرس ایمیل">
                                </div>

                                <button *ngIf="!submited" [ladda]="submitting" type="button" (click)="sendCode()" class="btn btn-primary block full-width m-b">ارسال لینک بازیابی رمز</button>
                                <p class="text-center text-success" *ngIf="submited">ایمیلی حاوی لینک بازیابی رمز عبور برای شما ارسال شده. لطفا برای ادامه فرآیند بازیابی رمز به ایمیل خود مراجعه کنید</p>
                                <button type="button" routerLink="/" class="btn btn-default block full-width m-b">بازگشت به صفحه اصلی</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {{companyName}}
            </div>
            <div class="col-md-6 text-left">
               <small>© {{currentYear | jalali: 'jYYYY'}}</small>
            </div>
        </div>
    </div>
