app-login, app-register{
  background: #fff !important;
  width: 100vw;
  min-height: 98vh;
  padding-bottom: 2vh;
  display: block;
}

tbody>tr>td{
  line-height: 2.42857 !important;
  font-size: 1.1em;
}
